
.pdheading {
    font-size: x-large;
    color: #663300;

}

.pdtext {
    color: #cc0033
    
}

.pdbackground{
    background-color: #ffdef8; 
    text-align: center;
    vertical-align: top;
}

.pdhede{
    color: #663300;
    font-size: small;
    alignment-adjust: middle;
}
.pdfullpage{
    width: 80%;
    height: 1000px;
    border-width: medium;
    border-style: solid;
    border-color: gold;
    text-align: center;
}
#top{
    vertical-align: top;
}